apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: scim-application
  namespace: argocd
spec:
  project: default

  source:
    repoURL: https://github.com/HarryKodden/scim.git
    targetRevision: HEAD
    path: helm
  destination: 
    server: https://kubernetes.default.svc
    namespace: scim

  syncPolicy:
    syncOptions:
    - CreateNamespace=true

    automated:
      selfHeal: true
      prune: true
